* text=auto

*.cs text diff=csharp
*.csproj text
*.ps1 text eol=crlf
*.md text
*.json text
*.yml text
*.yaml text

*.dll binary
*.exe binary
*.pdb binary
*.mdb binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
